parameters:
    level: 9
    paths:
        - .
    excludePaths:
        - build/*
        - vendor/*
    tmpDir: build/cache/phpstan
    bootstrapFiles:
        - vendor/symplify/easy-coding-standard/vendor/autoload.php
