parameters:
    level: 9
    paths:
        - .
    excludePaths:
        - build/*
        - vendor/*
    tmpDir: build/cache/phpstan
    scanFiles:
        - vendor/squizlabs/php_codesniffer/autoload.php
    bootstrapFiles:
        - vendor/symplify/easy-coding-standard/vendor/scoper-autoload.php
